<div class="contenedor">

  <h1>Sistema de Turnos</h1>

  <!-- TABLA -->
  <table>

  <thead>
    <tr>
      <th>ID</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Estado</th>
      <th>Cliente</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let turno of turnos"  (click)="seleccionarTurno(turno)">
      <td>{{turno.id}}</td>
      
      <td>{{turno.fecha | date:'dd/MM/yyyy'}}</td>
      <td>{{turno.hora}}</td>
      <td>{{turno.estado}}</td>
      <td>{{turno.nombre}} {{turno.apellido}}</td>
      
    </tr>
  </tbody>

  </table>
  <!-- FORMULARIO -->
  <div class="formulario">

  
    <input type="date" [(ngModel)]="turno.fecha">

    <input type="time" [(ngModel)]="turno.hora">

    <input type="text" [(ngModel)]="turno.id_cliente_turnos" placeholder="ID cliente">
    <div>
      <label >Estado:</label>
      <select [(ngModel)]="turno.estado">
          <option value="activo">Activo</option>
          <option value="inactivo">Inactivo</option>
          <option value="pendiente">Pendiente</option>
      </select>
    </div>  
    <div class="botones">
      <button (click)="crearTurno()">Crear</button>
      <button (click)="modificarTurno()">Modificar</button>
      <button (click)="eliminarTurno()">Eliminar</button>
    </div>

  </div>

</div>