
/* barra superior */
.navbar{
  background:#1f1f1f;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  margin-top:0;
  position:relative;
  top:0;
}

/* titulo */
.logo{
  font-size:20px;
  font-weight:bold;
}

/* contenedor de links */
.menu a{
  color:white;
  text-decoration:none;
  margin-left:20px;
  font-size:16px;
  transition:0.3s;
}

/* efecto cuando pasas el mouse */
.menu a:hover{
  color:#4CAF50;
}

/* contenido */
.contenido{
  padding:30px;
}